@model ImageGallery.Client.ViewModels.OrderFrameViewModel;

<h2>Order a framed version of your favorite picture.</h2>

<p>We've got this address on record for you:</p>
<p>
    @Model.Address
</p>
<p>If this isn't correct, please contact us.</p>
